openapi: 3.1.0
info:
  title: Norfolk Southern Gate Receipts Shipment Status API
  description: The Norfolk Southern Shipment Status API provides real-time visibility into rail shipment status, including current location, ETA, commodity details, origin, and destination. Part of the Norfolk Southern API Resource Platform (ApiHub).
  version: 1.0.0
  contact:
    name: Norfolk Southern CS Help Desk
    email: CSHelpDesk@NSCORP.COM
    url: https://developer.nscorp.com/
  license:
    name: Proprietary
    url: https://www.norfolksouthern.com/
servers:
- url: https://api.nscorp.com
  description: Production
tags:
- name: Shipment Status
  description: Real-time shipment location and status tracking.
paths:
  /shipments/status:
    get:
      operationId: getShipmentStatus
      summary: Get Shipment Status
      description: Retrieve the current status of a rail shipment including location, ETA, commodity, origin, and destination details.
      tags:
      - Shipment Status
      parameters:
      - name: shipmentId
        in: query
        required: true
        description: The unique identifier for the shipment.
        schema:
          type: string
      responses:
        '200':
          description: Shipment status returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  shipmentId:
                    type: string
                  status:
                    type: string
                  currentLocation:
                    type: string
                  eta:
                    type: string
                    format: date-time
                  origin:
                    type: string
                  destination:
                    type: string
                  commodity:
                    type: string
        '401':
          description: Unauthorized.
        '404':
          description: Shipment not found.
